<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>

<style>
    .custom-brand {
        font-size: 2.5rem; /* Розмір шрифта */
        font-weight: 900; /* Дуже жирний текст */
        color: black; /* Колір тексту */
        text-decoration: none; /* Прибрати підкреслення */
        transition: color 0.3s ease; /* Перехід кольору при наведенні */
    }

    .custom-brand:hover {
        color: #1900ff; /* Колір при наведенні */
    }
</style>

<body>
    <section class="py-0">
	<nav class="navbar navbar-expand-md bg-light">
		<div class="container">
        <a class="navbar-brand custom-brand" href="/">GarageFill</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent2">
				<ul class="navbar-nav ms-auto my-2 my-md-0">
					<li class="nav-item ms-md-4">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item ms-md-4">
						<a class="nav-link" href="/services">Services</a>
					</li>
					<li class="nav-item ms-md-4 d-none d-md-block">
						<a class="btn btn-primary" href="">Sign up</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</section>
    <main class="container mt-4">
        @RenderBody()
    </main>
</body>
</html>
