@{
    Layout = "_Layout";
}

<section class="py-5">
    <div class="container">
        <div class="row gx-4 align-items-center justify-content-between">
            <div class="col-md-5 order-2 order-md-1">
                <div class="mt-5 mt-md-0">
                    <span class="text-muted">Наша історія</span>
                    <h2 class="display-5 fw-bold">Про нас</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 order-1 order-md-2">
                <div class="row gx-2 gx-lg-3">
                    <div class="col-6">
                        <div class="mb-2">
                            <img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png" alt="Image 1">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png" alt="Image 2">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png" alt="Image 3">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-2">
                            <img class="img-fluid rounded-3" src="https://freefrontend.dev/assets/square.png" alt="Image 4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
